{% extends 'netflixpage/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Signin page specific content goes here -->
    <h1 class="text-4xl font-bold mb-4">Sign in to your account!</h1>

    <form action="{% url 'login' %}" method="POST" id="signinform">
        {% csrf_token %}
        {{form}}
        <input style="margin-top: 20px;" class="btn btn-danger" value="Sign in" type="submit">
    </form>
    {% if message %}
        <h5>{{message}}</h5>
    {% endif %}

{% endblock %}